
@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Halant&display=swap');

/*GENERALES*/

body {
    margin: 0;
	padding: 0;
    height: 100%;
  width: 100%;
    background-color: #FFF8EF !important;
}


h1{
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #393636;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;
    border-bottom: 1px solid #CE6315;
}



/*HEADER*/

header{
    width: 100%;
    height: 90px;
    background-color: #FFF8EF;
    box-shadow: #393636;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav a{
    font-family: 'Lato', sans-serif;
    list-style-type: none;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    color: #383838;
    font-size: 24px;
    line-height: 25px;
    padding-left: 35px;
}

header nav ul li{
    float: left;
    list-style-type: none;
    margin: 20px;
}

header nav ul:last-child{
    margin: 20px 50px;
}

header nav ul li a{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #383838;
    font-size: 0.875em;
    line-height: 17px;
}

header nav ul li a:hover{
    color: #be8f5a;
}



/*PRINCIPAL*/

#principal video{
    width: 100%;
    height: 800px !important; 
    
    object-fit: fill ;
    z-index: -100;
}


/*TEXTO*/

#texto1{
    font-family: Allerta;
    font-style: normal;
    font-weight: normal;
    color:beige;
    text-align: center;
    background-color: #9e6b39;
    padding-top: 80px;
    padding-bottom: 80px;
}

/*TRABAJOS*/

#obras{
    margin: 90px auto;
}

span {
    font-family: Allerta;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.img-thumbnail {
    padding: 0.25rem;
    background-color: none var(--bs-body-bg);
    border: none;
    border-radius: var(--bs-border-radius);
    max-width: 100%;
    height: auto;
  }


/*NOSOTROS*/

#yo{
    height: 600px;
    background-color: #838175;
}

#yo img{
    width: 30%;
    height: 400px;
    object-fit: cover;
    float: left;
    padding-left: 200px;
    padding-top: 100px;
}

#yo article{
    color: #393636;
    font-family: Allerta;
    font-style: normal;
    font-weight: normal;
    padding-top: 100px;
    
}

#yo p{
    font-size: 14px;
    line-height: 20px;
}


/*CONTACTO*/

#contacto{
    width: 40%;
    text-align: center;
    margin: 90px auto;
}

#contacto p{
    font-family: Allerta;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

#contacto form{
    font-family: Allerta;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;   
}

form input, form textarea{
    background-color: transparent;
    padding: 10px 10px;
    border: 1px solid #393636;
    box-sizing: border-box;
    border-radius: 23px;
    width: 100%;
    margin: 5px;
}

button{
    border-radius: 23px;
    font-family: Allerta;
    font-style: normal;
    font-weight: normal;
    color:beige;
    font-size: 14px;
    line-height: 18px; 
    border: none;
    background-color: #9e6b39;
    padding: 10px 40px;
}

/*OBRAS DISPONIBLES*/
 
#productos{
    margin-top: 10px;
    margin-bottom: 90px;
    margin: 10px 20px 90px 20px;
}

#productos div{
    background-color: transparent;
    border-color: transparent;
    text-align: center;
}

/*PIEZA*/

.piezas{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}

.c-izq {
    width: 65%;
    position: relative;
}

.c-izq img {
    width: 85%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.3s ease;
}
   
.c-izq img.active {
    opacity: 1;
}

.c-der {
    width: 35%;
    margin-top: 60px;
}

.descripcion{
    border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

.descripcion h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
}

.descripcion p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
}

.prod-color {
    margin-bottom: 30px;
}

.color-choose div {
    display: inline-block;
}

.color-choose input[type="radio"] {
    display: none;
}
   
.color-choose input[type="radio"] + label span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}
   
.color-choose input[type="radio"]#beige + label span {
    background-color: #f0d8b2;
}

.color-choose input[type="radio"]#verde + label span {
    background-color: #698b66;
}

.color-choose input[type="radio"]#rosa + label span {
    background-color: #eda4ad;
}
   
  


/*NOSOTROS*/

#us{
    vertical-align: auto;
    margin: 50px auto;
    align-items: center;
    max-height: 100%;
}


#img-nos{
    max-height: 800px;
    width: 50%;
    display: inline-block;
    margin-right: 60px;
}

#us article{
    display: inline-block;
    width: 40%;
}



/*FOOTER*/

footer{
    width: 100%;
    height: 80px;
    text-align: center;
    background-color: #FFF8EF;
    
}





/*RESPONSIVE*/

/*PIEZA*/

@media (max-width: 940px) {
    .piezas {
      flex-direction: column;
      margin-top: 60px;
    }
   
    .c-izq,
    .c-der {
      width: 100%;
    }
   
    .c-izq img {
      width: 300px;
      right: 0;
      top: -65px;
      left: initial;
    }
  }
   
  @media (max-width: 535px) {
    .c-izq img {
      width: 220px;
      top: -85px;
    }
  }