@import "./partials/variables";
@import "./partials/condicionales";
@import "./partials/bucles";
@import "./partials/fonts";

/*GENERALES*/

body {
    margin: 0;
	padding: 0;
    height: 100%;
    width: $ancho;
    background-color: #FFF8EF !important;
}


.boton:hover{
    background-color:$color-gris;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

/*HEADER*/

header{
    font-family: 'Allerta', sans-serif;
}

.bg-beige{
    background-color: #FFF8EF !important;
}

/*PRINCIPAL*/

#principal video{
    width: $ancho;
    height: 800px !important; 
    object-fit: fill ;
    z-index: -100;
} 

/*TEXTO*/

#texto1{
    font-family: Allerta;
    font-style: normal;
    font-weight: normal;
    color: $color-beige;
    text-align: center;
    background-color: $color-naranja;
    height: 400px;

     p{
        display: inline-block;
        padding-top: 140px;
        width: $ancho/2;
     }
}

/*TRABAJOS*/

#obras{
    margin: 90px auto;
}

span {
    font-family: Allerta;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.img-thumbnail {
    padding: 0.25rem;
    background-color: none var(--bs-body-bg);
    border: none;
    border-radius: var(--bs-border-radius);
    max-width: 100%;
    height: auto;
  }

  /*PRINCIPAL NOSOTROS*/

#yo{
    background-color: #838175;
    
    p{
        font-family: Allerta;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: $color-beige;
        margin-left: 40px;
    }

    h2{
        font-family: Halant;
        font-style: normal;
        font-weight: normal;
        font-size: 4.5rem !important;
        line-height: 85px;
        color: $color-beige;
        margin-left: 40px;
    }
}


/*CONTACTO*/

#contacto{
    width: $ancho/2;
    text-align: center;
    margin: 90px auto;

    p{
        font-family: Allerta;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        display: inline-block;
        width: 80%;
    }

    form{
        font-family: Allerta;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;   
    }
}
 

form input, form textarea{
    background-color: transparent;
    padding: 10px 10px;
    border: 1px solid $color-gris;
    box-sizing: border-box;
    border-radius: 23px;
    width: $ancho;
    margin: 5px;
}

button{
    border-radius: 23px;
    font-family: Allerta;
    font-style: normal;
    font-weight: normal;
    color: $color-beige;
    font-size: 14px;
    line-height: 18px; 
    border: none;
    background-color: $color-naranja;
    padding: 10px 40px;
}

/*OBRAS DISPONIBLES*/
 
#productos{
    margin-top: 10px;
    margin-bottom: 90px;
    margin: 10px 20px 90px 20px;

    div{
        background-color: transparent;
        border-color: transparent;
        text-align: center;
    }

    .card{
        transition: all .5s;

        a{
            outline: none;
      padding: 2px 1px 0;
      color: #bbbbbb;
        }
    }

    .card:hover{
        cursor: pointer;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
        transform: scale(1.02);
    }
}


/*PIEZA*/

.piezas{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding-top: 100px;
}

.c-izq {
    width: 65%;
    position: relative;

    img {
        width: 85%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        transition: all 0.3s ease;
    }

    img.active {
        opacity: 1;
    }
}

.c-der {
    width: 35%;
    margin-top: 60px;

    a{
        outline: none;
  padding: 2px 1px 0;
  color: #bbbbbb;
    }
}

.descripcion{
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
    
    h1 {
    font-weight: 300;
    font-size: 52px;
    color: $color-gris;
    letter-spacing: -2px;
    }

    p {
        font-size: 16px;
        font-weight: 300;
        color: #86939E;
        line-height: 24px;
    }

}


.prod-color {
    margin-bottom: 30px;
}

.color-choose { 
    padding: 20px 0;

    div {
    display: inline-block;
    }

    input[type="radio"] {
        display: none;
    }

    input[type="radio"] + label span {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: -1px 4px 0 0;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid #FFFFFF;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
    }

    input[type="radio"]#beige + label span {
        background-color: #f0d8b2;
    }

    input[type="radio"]#verde + label span {
        background-color: #698b66;
    }

    input[type="radio"]#rosa + label span {
        background-color: #eda4ad;
    }

}

/*NOSOTROS*/

#nosotros{
    margin-top: 60px;
}


/*FOOTER*/

footer{
    width: $ancho;
    height: 70px;
    text-align: center;
    background-color: #FFF8EF;
}

/*ERROR 404*/



@import "./partials/queries";